<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 开启注解 -->
	<!-- <context:annotation-config/> -->
	
	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- 配置sessionFactory工厂 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的相关属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 配置数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- 打印SQL语句：开发时为true，上线为false -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 格式化SQL语句 -->
				<prop key="hibernate.format_sql">true</prop>
				<!-- 自动更新 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
		<!-- 引入映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/ajth/domain/User.hbm.xml</value>
				<value>com/ajth/domain/Customer.hbm.xml</value>
				<value>com/ajth/domain/BaseDict.hbm.xml</value>
				<value>com/ajth/domain/Linkman.hbm.xml</value>
				<value>com/ajth/domain/SaleVisit.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 将用户的action类交给spring管理 -->
	<bean id="userAction" class="com.ajth.web.action.UserAction" scope="prototype">
		<!-- 在userAction类中注入userService -->
		<property name="userService" ref="userService"/>
	</bean>
	<!-- 将客户action类交给spring管理 -->
	<bean id="customerAction" class="com.ajth.web.action.CustomerAction" scope="prototype">
		<!-- 在customerAction类中注入customerService -->
		<property name="customerService" ref="customerService"/>
	</bean>
	<!-- 将字典action类交给spring管理 -->
	<bean id="baseDictAction" class="com.ajth.web.action.BaseDictAction" scope="prototype">
		<!-- 在baseDictAction类中注入 baseDictService-->
		<property name="baseDictService" ref="baseDictService"/>
	</bean>
	<!-- 将联系人action类交给spring管理 -->
	<bean id="linkmanAction" class="com.ajth.web.action.LinkmanAction" scope="prototype">
		<!-- 注入service -->
		<property name="linkmanService" ref="linkmanService"/>
		<property name="customerService" ref="customerService"/>
	</bean>
	<!-- 将拜访记录action交给spring管理 -->
	<bean id="saleVisitAction" class="com.ajth.web.action.SaleVisitAction" scope="prototype">
		<!-- 注入service -->
		<property name="saleVisitService" ref="saleVisitService"/>
	</bean>
	
	<!-- 将userService交给spring管理 -->
	<bean id="userService" class="com.ajth.service.impl.UserServiceImpl">
		<!-- 在userService类中注入userDao -->
		<property name="userDao" ref="userDao"/>
	</bean>
	<!-- 将 客户customerService交给spring管理-->
	<bean id="customerService" class="com.ajth.service.impl.CustomerServiceImpl">
		<!-- 在 customerService中注入customerDao-->
		<property name="customerDao" ref="customerDao"/>
	</bean>
	<!-- 将baseDictService交给spring管理 -->
	<bean id="baseDictService" class="com.ajth.service.impl.BaseDictServiceImpl">
		<!-- 在baseDictService中注入baseDictDao -->
		<property name="baseDictDao" ref="baseDictDao"/>
	</bean>
	<!-- linkmanService交给spring管理 -->
	<bean id="linkmanService" class="com.ajth.service.impl.LinkmanServiceImpl">
		<!-- 注入dao -->
		<property name="linkmanDao" ref="linkmanDao"/>
	</bean>
	<!-- 将交给spring管理 -->
	<bean id="saleVisitService" class="com.ajth.service.impl.SaleVisitServiceImpl">
		<!-- 注入dao -->
		<property name="saleVisitDao" ref="saleVisitDao"/>
	</bean>
	
	<!-- 将userDao交给spring管理 -->
	<bean id="userDao" class="com.ajth.dao.impl.UserDaoImpl">
		<!-- 在userDao中注入 sessionFactory-->
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 将 customerDao交给spring管理-->
	<bean id="customerDao" class="com.ajth.dao.impl.CustomerDaoImpl">
		<!-- 在customerDao中注入sessionFactory -->
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 将 baseDictDao交给spring管理-->
	<bean id="baseDictDao" class="com.ajth.dao.impl.BaseDictDaoImpl">
		<!-- 在baseDictDao中注入sessionFactory -->
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 将linkmanDao交给spring管理 -->
	<bean id="linkmanDao" class="com.ajth.dao.impl.LinkmanDaoImpl">
		<!-- 注入 sessionFactory-->
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- jiang交给spring管理 -->
	<bean id="saleVisitDao" class="com.ajth.dao.impl.SaleVisitDaoImpl">
		<!-- 注入 sessionFactory-->
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	
</beans>